<!-- wp:template-part {"slug":"header","theme":"ntasktwentytwo","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"inherit":true}} -->
    <div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontSize":"clamp(4rem, 40vw, 20rem)","fontWeight":"200","lineHeight":"1"}},"className":"has-text-align-center"} -->
    <h2 class="has-text-align-center" style="font-size:clamp(4rem, 40vw, 20rem);font-weight:200;line-height:1">404</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">This page could not be found. Maybe try a search?</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:kadence/rowlayout {"uniqueID":"_89e33c-f2","columns":1,"colLayout":"equal","topPadding":10,"bottomPadding":10,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"bgColor":"#f5f5f5","verticalAlignment":"middle"} -->
    <div class="wp-block-kadence-rowlayout alignnone"><div id="kt-layout-id_89e33c-f2" class="kt-row-layout-inner kt-row-has-bg kt-layout-id_89e33c-f2"><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-default kt-v-gutter-default kt-row-valign-middle kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"uniqueID":"_574c14-89","verticalAlignment":"middle"} -->
    <div class="wp-block-kadence-column inner-column-1 kadence-column_574c14-89"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"_167dc9-c1","colLayout":"left-golden","maxWidth":1250,"topPadding":0,"bottomPadding":0,"leftPadding":20,"rightPadding":20,"topMargin":0,"bottomMargin":0,"verticalAlignment":"middle","firstColumnWidth":75,"secondColumnWidth":25,"className":"post-content"} -->
    <div class="wp-block-kadence-rowlayout alignnone post-content"><div id="kt-layout-id_167dc9-c1" class="kt-row-layout-inner kt-layout-id_167dc9-c1"><div class="kt-row-column-wrap kt-has-2-columns kt-gutter-default kt-v-gutter-default kt-row-valign-middle kt-row-layout-left-golden kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row  kt-custom-first-width-75  kt-custom-second-width-25"><!-- wp:kadence/column {"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"uniqueID":"_3b6e4d-d6","verticalAlignment":"middle"} -->
    <div class="wp-block-kadence-column inner-column-1 kadence-column_3b6e4d-d6"><div class="kt-inside-inner-col"><!-- wp:categories {"className":"post-categories-list"} /--></div></div>
    <!-- /wp:kadence/column -->
    
    <!-- wp:kadence/column {"id":2,"topPadding":0,"bottomPadding":0,"leftPadding":0,"rightPadding":0,"topMargin":0,"bottomMargin":0,"leftMargin":0,"rightMargin":0,"uniqueID":"_69fdbb-ed","textAlign":["right","center","center"],"verticalAlignment":"middle","className":"post-categories-search s"} -->
    <div class="wp-block-kadence-column inner-column-2 kadence-column_69fdbb-ed post-categories-search s"><div class="kt-inside-inner-col"><!-- wp:shortcode -->
    [ivory-search id="22880" title="Default Search Form"]
    <!-- /wp:shortcode --></div></div>
    <!-- /wp:kadence/column --></div></div></div>
    <!-- /wp:kadence/rowlayout --></div></div>
    <!-- /wp:kadence/column --></div></div></div>
    <!-- /wp:kadence/rowlayout --></div>
    <!-- /wp:group --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"ntasktwentytwo","tagName":"footer"} /-->