<!-- wp:template-part {"slug":"header","theme":"ntasktwentytwo","tagName":"header"} /-->

<!-- wp:block {"ref":21687} /-->

<!-- wp:block {"ref":899} /-->

<!-- wp:group {"style":{"border":{"style":"solid"}},"borderColor":"background","className":"post-content","layout":{"inherit":false}} -->
<div class="wp-block-group post-content has-border-color has-background-border-color" style="border-style:solid"><!-- wp:visual-portfolio/block {"block_id":"1UVJGW","className":"here-we","content_source":"post-based","posts_source":"post","posts_taxonomies_relation":"and","posts_avoid_duplicate_posts":true,"items_count":12,"layout":"grid","grid_images_aspect_ratio":"16:9","items_gap":40,"items_style":"default","items_style_default__images_rounded_corners":20,"items_style_default__show_date":"human","items_style_default__show_reading_time":true,"items_style_default__align":"left","layout_elements":{"top":{"elements":["filter"],"align":"center"},"items":{"elements":["items"]},"bottom":{"elements":["pagination"],"align":"center"}},"filter":"default","pagination_style":"default","pagination":"infinite","pagination_hide_on_end":true} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ntasktwentytwo","tagName":"footer"} /-->